# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.mo

# Virtualenv
venv/
env/
ENV/
.venv/
.ENV/

# Django environment variables or secrets
.env
.env.*

# IDE/editor files
.vscode/
.idea/

# Coverage/test reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/

# Database files
*.sqlite3