{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome to the Homepage</h1>
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'posts:post_detail' post.id %}">
                <h2>{{ post.title }}</h2>
            </a>
            <p> by {{ post.author.username }} on {{ post.created_at|date:"F j, Y" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}    
{% endblock %}
